/* Your styles should be mobile-first and responsive */
/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
h1 {
  margin-top: 45px;
  text-align: center;
}

li {
  list-style: none;
}
.container {
  margin: 45px;
  padding: 30px;
  border: 2px solid red;
}

.button {
  margin: 15px 0px 15px 0px;
}
